cache/
out/
out*/
tmp/
tmp*/
bochs-src/bochs/.git/
bochs-src/bochs/**/.git/
bochs-src/bochs/**/.deps/
bochs-src/bochs/**/.libs/
bochs-prepoly-src/bochs/.git/
bochs-prepoly-src/bochs/**/.git/
bochs-prepoly-src/bochs/**/.deps/
bochs-prepoly-src/bochs/**/.libs/
